@mixin displayed($theme: row) {
  display: flex;
  flex-direction: $theme;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  @include displayed($theme:column);

  align-items: center;
}

header {
  @include displayed;

  align-items: flex-start;
  width: 65%;
  margin-top: 50px;
}

.main {
  width: 85%;
  margin-top: 30px;

  @include displayed;

  align-items: center;
  justify-content: center;
  gap: 50px;
}

.scores,
.add-form {
  width: 30%;

  @include displayed($theme:column);

  gap: 10px;
}

.add-form {
  width: 20%;
}

.scores-head {
  @include displayed;

  justify-content: space-between;
  gap: 12px;
}

.scores-list {
  list-style: none;
  border: solid #000 1px;
}

.form {
  @include displayed($theme:column);

  gap: 10px;
  width: 100%;
}

.form-title {
  width: 100%;
  font-size: 35px;
}

.submit-button {
  width: 40%;
  align-self: flex-end;
}

.scores-head > h2 {
  font-size: 35px;
}

.scores-head > button {
  width: 30%;
  height: max-content;
  align-self: center;
}

header > h1 {
  font-size: 45px;
}
